@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Salsa&display=swap');

:root {
  --border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Salsa', 'Roboto Condensed', sans-serif;
  line-height: 1;
  min-width: 0;
}

html, body {
  width: 320px;
  background-color: #F2E1D6;
}

main {
  display: grid;
  grid-template-areas:
  "logo       title"
  "toggle     toggle"
  "table      table";
  padding: 16px;
  row-gap: 24px;

  .logo {
    grid-area: logo;
    max-width: 80px;
    max-height: 80px;
    border: 2px solid #fc9e64;
    border-radius: 50%;
  }

  .title {
    grid-area: title;
    align-self: center;
    font-size: 30px;
    margin-left: 10px;
  }

  .toggle {
    grid-area: toggle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    padding: 8px;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;


    &.disabled {
      background-color: #db7093;
      color: #ffffff;
    }

    &.enabled {
      background-color: #98fb98;
      color: #000000;
    }

    &:hover {
      filter: brightness(105%);
    }

    .hostname {
      font-size: 14px;
      font-family: monospace;
    }
  }

  table {
    grid-area: table;

    th {
      height: 50px;
      font-size: 16px;
      text-decoration: underline;
    }

    .row-gap {
      height: 5px;
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 25px;
        height: 25px;
        padding: 2px;
        background-color: #ffdb00;
        border: 1px solid #e9ab17;
        border-radius: var(--border-radius);
      }

      .separator {
        font-size: 20px;
        padding: 0 3px;
      }
    }

    .action {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Salsa', cursive;
      font-size: 15px;
    }

    .key-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.keyboard-key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 23px;
  padding: 3px 1px;
  border: 1px solid rgba(100, 100, 100, 0.7);
  border-bottom: 2px solid rgba(100, 100, 100, 0.7);
  border-radius: 4px;
  background-color: #e8e8e8;
  font-size: 13px;
}