@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.controller {
  > * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Roboto Condensed', sans-serif;
  }

  --size: 9px;
  --height: calc(var(--size) * 2.3);

  --background-color: rgba(96, 96, 96, 0.7);
  --border-color: rgba(0, 0, 0, 0);
  --text-and-icon-color: #ffffff;

  position: absolute;
  box-sizing: content-box;
  // top: _; Set in component.
  // left: _; Set in component.
  display: flex;
  opacity: 0.4;
  transition: opacity 200ms ease-out;
  z-index: calc(2147483647 - 5) !important; // max_int - 5

  .underlay {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    //background-color: red; // For debugging
    z-index: -1;
  }

  &:hover {
    --background-color: #ffdb00;
    --border-color: #e9ab17;
    --text-and-icon-color: #000000;
    opacity: 0.95;

    .underlay {
      width: calc(100% + var(--height));
      height: calc(100% + var(--height));
    }
  }

  .controls {
    flex: 1 1 auto;
    display: flex;
    background-color: var(--background-color);
    color: var(--text-and-icon-color);
    border: 1px solid var(--border-color);
    border-radius: calc(0.5 * var(--size));
    transition: background-color 200ms ease-in-out,
    color 200ms ease-in-out,
    border 200ms ease-in-out;

    .control {
      height: var(--height);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 calc(0.5 * var(--size));
      border-radius: calc(0.5 * var(--size));

      > svg {
        width: calc(0.7 * var(--height));
        height: calc(0.7 * var(--height));
        fill: var(--text-and-icon-color);
      }

      &:hover {
        background-color: rgb(233, 171, 23, 0.6);
      }
    }

    .playback-rate {
      min-width: var(--height);
      font-size: calc(0.65 * var(--height));

      &:hover {
        background-color: transparent;
      }
    }
  }
}