@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.video-king-root-element {
  --size: 9px;
  --height: calc(var(--size) * 2.3);

  > * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Roboto Condensed', sans-serif;
  }

  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;

  .controller {
    box-sizing: content-box;
    position: absolute;
    // top: _; Set in component.
    // left: _; Set in component.
    display: flex;
    opacity: 0.25;
    filter: grayscale(1);
    transition: opacity 300ms ease-in;
    z-index: 2147483647; // max int

    .underlay {
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      //background-color: red; // For debugging
      z-index: -1;
    }

    &:hover {
      opacity: 0.75;
      filter: grayscale(0);

      .underlay {
        width: calc(100% + var(--height));
        height: calc(100% + var(--height));
      }
    }

    .controls {
      flex: 1 1 auto;
      display: flex;
      background-color: rgb(255, 219, 0);
      color: #000000;
      border: 1px solid rgba(0, 0, 0, 0.6);
      border-radius: calc(0.5 * var(--size));

      .control {
        height: var(--height);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 calc(0.5 * var(--size));

        > svg {
          width: calc(0.7 * var(--height));
          height: calc(0.7 * var(--height));
          fill: #000000;
        }
      }

      .playback-rate {
        min-width: var(--height);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(0.65 * var(--height));
      }
    }
  }
}